@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div{
  margin: 0 10px;
}

.slick-prev:before, .slick-next:before{
  color: #321E1E;
}

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background:#d4af37 ;
}

::-webkit-scrollbar-thumb {
  background: #321E1E;
}
